<% if signed_in? %>

<%= render 'shared/profile_box' %>

<div class="content" role="main">  

	<%= render 'shared/timeline' %> 

</div> <!-- END CONTENT --> 

<% else %>

<div class="content home" role="main"> 
  <h1 class="welcome">Welcome to the UA-READER!</h1>

  	<div class="home-buttons">
  		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  		<%= link_to "Sign in", signin_path, class: "btn btn-large btn-primary" %>
	</div>
	<div class="home-img">
		<%= image_tag('home_showcase.png') %>
	</div>
</div>

<% end %>