<div class="form-row">
	<%= f.select :recepient_id, @recepients, include_blank: true %>
</div>

<div class="form-row">
	<%= f.label :subject %>
	<%= f.text_field :subject, class: "form-control" %>
</div>

<div class="form-row article-field">
	<%= f.label :body %>
	<%= f.text_area :body, class: "form-control", rows: 5, placeholder: "Enter text..." %>
</div>

<% content_for :javascript do %>
<script type='text/javascript' charset='UTF-8'>
  $(document).ready(function(){
    $('form[data-remote]').bind('ajax:before', function(){
      for (instance in CKEDITOR.instances){
        CKEDITOR.instances[instance].updateElement();
      }
    });
  });
</script>
<% end %>