<div class="form-row">
	<%= f.select :recepient_id, @recepients, include_blank: true %>
</div>

<div class="form-row">
	<%= f.label :subject %>
	<%= f.text_field :subject, class: "form-control" %>
</div>

<div class="form-row article-field">
	<%= f.label :body %>
	<%= f.text_area :body, class: "form-control", rows: 5, placeholder: "Enter text..." %>
</div>