<% provide(:title, 'Message') %>
<div class="content readable-content rd-message" role="main">

	<% if @message.subject %>
	<header class="entry-header">
      <h1 class="entry-title"><%= @message.subject %></h1>
  	</header>
  	<% end %>

  	<div class="message-info">
  		<div class="entry-user">
			<div class="user">
				<a href="<%= user_path(@sender) %>">
				  <%= image_tag(@sender.avatar_url(:lthumb), size: "50x50", class: "avatar") %>
				  <strong class="fullname"><%= @sender.name %></strong>
				  <span class="username"><s>@</s><b><%= @sender.login %></b></span>
				</a>
			</div>
		</div>

		<div class="ms-recipient"><b>Recipient:</b> <%= link_to @recipient.name, user_path(@recipient) %></div>

		<span class="muted"><%= @message.created_at.to_formatted_s(:short) %></span>
  	</div>

  	<div class="entry-content">
  		<%= raw @message.body %>
  	</div>
</div>

<% if @message.recepient_id == current_user.id %>
   	<% marked_as_read(@message) %>
<% end %>