<% provide(:title, @title) %>
<div class="content readable-content" role="main"> 
	
	<header class="entry-header">
			<h1 class="entry-title">Enter your new password</h1>
	</header>

	<%= form_for @user, url: password_reset_path(params[:id]) do |f| %>

	  <%= render 'shared/error_messages', object: f.object %>

	  	<div class="row">
			<div class="form-group col-md-8">
				<%= f.label :password, class: "form-label" %>
				<div class="controls">
					<%= f.password_field :password, class: "form-control" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-8">
				<%= f.label :password_confirmation, class: "form-label" %>
				<div class="controls">
					<%= f.password_field :password_confirmation, class: "form-control" %>
				</div>
			</div>
		</div>

	    <div class="row">
			<div class="col-md-8">
				<%= f.submit "Update Password", class: "btn btn-primary btn-cons bl-c pull-right" %>
			</div>
		</div>

	<% end %>

</div>