<% priority =  task.priority == 0 ? "low" : (task.priority == 1 ? "medium" : (task.priority == 2 ? "high" : "")) %>

<tr id="tr_<%= dom_id(task) %>" class="task_<%= priority %>">
	<td>
		<%= form_for([current_user, task], remote: true) do |f| %>
		<!--<div class="checkbox check-default ">
			<%#= f.check_box :completed, { id: dom_id(task) } %>
			<label for="<%#= dom_id(task) %>"></label>
		</div>-->
		<div class="checkbox check-primary">
          <%= f.check_box :completed, id: dom_id(task) %> 
          <label for="<%= dom_id(task) %>"></label>
        </div>
		<% end %>
	</td>
	<td class="task-title"><%= task.title %></td>
	<td class="task-prior"><%= priority %></td>
	<td><%= task.due_date.to_date.to_formatted_s(:long) if task.due_date %></td>
	<td class="task-note">
		<% if task.note? %>
			<span href="" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<%= task.note %>"><i class="fa fa-file"></i></span>
		<% end %>
	</td>
	<td class="del-task"><%= link_to set_icon("trash-o","fa"), [current_user, task], method: :delete, remote: true %></td>
</tr>