<li>
  <div class="entry-user">
    <div class="user">
      <a href="<%= user_path(user) %>">
        <%= image_tag(user.avatar_url(:thumb), size: "100x100", class: "big-avatar") %>
        <strong class="fullname"><%= user.name %></strong>
        <span class="username"><s>@</s><b><%= user.login %></b></span>
      </a>
      <br style="clear:both" />
    </div>
  </div>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to "delete", user, method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
</li>