<li>
  <div class="entry-user">
    <div class="user">
      <a href="<%= user_path(user) %>">
        <%= image_tag(user.avatar_url(:thumb), size: "100x100", class: "big-avatar") %>
        <strong class="fullname"><%= user.name %></strong>
        <span class="username"><s>@</s><b><%= user.login %></b></span>
      </a>
      <br style="clear:both" />
    </div>
  
  <% unless current_user?(user) %>
  <div class="overlayer top-right">
    <div class="overlayer-wrapper">
      <div class="padding-15 hidden-xs">
        <div id="follow_form_<%= user.id %>">
          <% if current_user.following?(user) %>
            <%= render partial: 'unfollow', locals: {user: user} %>
          <% else %>
            <%= render partial: 'follow', locals: {user: user} %>
          <% end %>
        </div>                    
      </div>
    </div>
  </div>
  </div>
  <% end %>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to set_icon("times","fa"), user, method: :delete, data: {confirm: "Are you sure?"}, class: "del-user" %>
  <% end %>
</li>