<% provide(:title, "Edit user") %>
<div class="content readable-content" role="main"> 
  
  <header class="entry-header">
      <h1 class="entry-title">Update your profile</h1>
  </header>

    <%= form_for(@user) do |f| %>
    	  <%= render 'shared/error_messages', object: f.object %>
      	<%= render 'fields', f: f %>
        <div class="checkbox check-primary">
          
          <%= f.check_box :remove_avatar, id: "checkbox3" %> 
          <label for="checkbox3">Remove avatar</label>
        </div>

        <%= render 'profile_form', f: f %>

        <div class="row">
          <div class="col-md-8">
            <%= f.submit "Save changes", class: "btn btn-primary btn-cons bl-c" %>
          </div>
        </div>

    <% end %>

</div>