<% provide(:title, 'Videos') %>
<div class="content white-bg videos" role="main"> 
	
	<header class="page-header-1">
		<h1 class="entry-title">Videos</h1>
		<%= link_to 'Add video', new_video_path, class: "btn btn-primary bl-c"  %>
	</header>

	<%= form_tag videos_path, method: 'get', class: "form-inline" do %>
		<div class="input-group transparent">
			<span class="input-group-addon">
				<i class="fa fa-search"></i>
			</span>
			<%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search video..." %>
		</div>
	<% end %>

	<div id="11player-wrapper"></div>

	<% if @videos.any? %>
	
		<ul id="videos">
			<%= render @videos %>
		</ul>

		<%= will_paginate @videos %>

	<% end %>

</div>