<li id="<%= dom_id(feed_item) %>" class="animated fadeInUp">
	<div class="hentry-box">
		<% mpost_link_object = feed_item.retweet_id? ? feed_item.original_mpost : feed_item %>
		<small class="time"><span class="_timestamp"><%= link_to time_ago_in_words(feed_item.created_at) + " ago.", micropost_path(mpost_link_object) %></span></small>

		<div class="entry-user">
			<div class="user">
				<a href="<%= user_path(feed_item.user) %>">
				  <%= image_tag(feed_item.user.avatar_url(:lthumb), size: "50x50", class: "avatar") %>
				  <strong class="fullname"><%= feed_item.user.name %></strong>
				  <span class="username"><s>@</s><b><%= feed_item.user.login %></b></span>
				</a>
			</div>
		</div>

		<% if feed_item.mpost_picrute? %>
		<figure class="entry-thumb">
			<% link = feed_item.mpost_picrute_url.to_s %>
			<%= link_to(image_tag(feed_item.mpost_picrute_url(:mthumb), size: "400x226", class: "entry-img"), link) %>
		</figure>
		<% end %>

		<% if feed_item.repost_author.present? %>
			<% main_author = feed_item.set_main_author %>
		<table cellpadding="0" cellspacing="0" class="published_by_wrap">
			<tbody>
				<tr>
					<td>
						<%= link_to(image_tag(main_author.avatar_url(:lthumb), size: "20x20"), user_path(main_author), class: "published_by_photo") %>
					</td>
					<td>
						<div class="published_by_title">
					    	<i class="fa fa-retweet"></i>
					    	<%= link_to main_author.name, user_path(main_author), class: "published_by" %>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<% end %>
		
		<div class="entry-wrap">
			<% if feed_item.mtitle.present? %>
			<header class="entry-header">
				<h4 class="entry-title semi-bold">
					<%= link_to feed_item.mtitle, feed_item.mlink %>
				</h4>
			</header>
			<% end %>

			<div class="entry-summary">
				<%= auto_link(feed_item.content, html: { target: '_blank' }) %>
			</div>
		</div>

		<footer class="entry-actions">
			<ul>
				<% likes = feed_item.reputation_for(:mpost_likes).to_i %>
				<% reposts = feed_item.repost_count(feed_item.id).to_i %>

				<% if feed_item.video %>
				<li class="action-video">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#video<%= feed_item.id %>"><i class="fa fa-youtube-play"></i>watch video</a>
				</li>
				<% end %>

				<li class="action-reply">
					<a href="#"><i class="fa fa-reply"></i><span>Reply</span></a>
				</li>
				<% if signed_in? && current_user %>
				<% if current_user?(feed_item.user) || current_user.admin? %>
    				<li class="action-delete delete"><%= link_to set_icon("times", "fa"), feed_item, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></li>
  				<% end %>
  				<% end %>
				<li class="action-repost <%= 'reposted' if feed_item.retweets.where(user_id: current_user.id).present? %>">
				<%= link_to set_icon("retweet", "fa") + "Repost", retweet_micropost_path(feed_item.id), method: :post %>&nbsp;<%= reposts if reposts > 0 %></li>
				<!--<li class="action-reply">
					<a href="#"><i class="fa fa-star"></i><span>Favorite</span></a>
				</li> -->
				<li class="action-like <%= 'liked' if current_user.liked_for?(feed_item) %>">
					<%= link_to set_icon("heart", "fa") + "Like", like_micropost_path(feed_item), remote: true, method: "post" %>&nbsp;<span class="likes-count"><%= likes if likes > 0 %></span>
				</li>
			</ul>
		</footer>

		<% if feed_item.video %>
		<div class="entry-video">
			<div id="video<%= feed_item.id %>" class="embed-video panel-collapse collapse">
  				<%= embed(feed_item.video) %>
  			</div>
  		</div>
  		<% end %>

	</div>
</li>