<% @user ||= current_user %>

<div class="profile-box">

	<div class="profile-header" style="background: url(<%= asset_path 'default_bckg6.png' %>) no-repeat;">

		<div class="profile-avatar">
            <%= image_tag(@user.avatar_url(:thumb), size: "100x100") %>
		</div>

        <%= render 'users/follow_form' if signed_in? %>

	</div>

	<div class="profile-name">
		<h1><%= @user.name %></h1>
		<span class="profile-login"><%= @user.make_dog %></span>
	</div>

	<div class="profile-navbar">
        <%= nav_link_to(user_path(@user), class: "profile-links") do %>
            <i class="fa fa-comment-o"></i>
            <span id="user_microp" class="count"><%= @user.microposts.size %></span>
            <span class="label-pf">Tweets</span>
        <% end %>
        <%= nav_link_to(articles_path + "?author=" + @user.id.to_s, class: "profile-links") do %>
            <i class="fa fa-pencil"></i>
            <span class="count"><%= @user.articles.size %></span>
            <span class="label-pf">Articles</span>
        <% end %>
        <%= nav_link_to(followers_user_path(@user), class: "profile-links") do %>
            <i class="fa fa-eye"></i>
            <span id="followers" class="count"><%= @user.followers.size %></span>
            <span class="label-pf">Followers</span>
        <% end %>
        <%= nav_link_to(following_user_path(@user), class: "profile-links") do %>
            <i class="fa fa-eye"></i>
            <span class="count"><%= @user.followed_users.size %></span>
            <span class="label-pf">Following</span>
        <% end %>
        <%= nav_link_to(media_user_path(@user), class: "profile-links") do %>
            <i class="fa fa-picture-o"></i>
            <span class="count"><%= @user.microposts.where.not(mpost_picrute: nil).size %></span>
            <span class="label-pf">Media</span>
        <% end %>
	</div>
</div>