<% provide(:title, "Micropost") %>
<div class="content show-micropost" role="main">  

	<div id="<%= dom_id(@micropost) %>" class="mpost-container animated fadeInUp">
		<div class="hentry-box">
			<small class="time"><span class="_timestamp"><%= link_to time_ago_in_words(@micropost.created_at), micropost_path(@micropost) %> ago.</span></small>

			<div class="entry-user">
				<div class="user">
					<a href="<%= user_path(@micropost.user) %>">
					  <%= image_tag(@micropost.user.avatar_url(:lthumb), size: "50x50", class: "avatar") %>
					  <strong class="fullname"><%= @micropost.user.name %></strong>
					  <span class="username"><s>@</s><b><%= @micropost.user.login %></b></span>
					</a>
				</div>
			</div>

			<% if @micropost.mpost_picrute? %>
			<figure class="entry-thumb">
				<% link = @micropost.mpost_picrute_url.to_s %>
				<%= link_to(image_tag(@micropost.mpost_picrute_url.to_s, size: "400x226", class: "entry-img"), link) %>
			</figure>
			<% end %>

			<% if @micropost.repost_author.present? %>
				<% main_author = @micropost.set_main_author %>
			<table cellpadding="0" cellspacing="0" class="published_by_wrap">
				<tbody>
					<tr>
						<td>
							<%= link_to(image_tag(main_author.avatar_url(:lthumb), size: "20x20"), user_path(main_author), class: "published_by_photo") %>
						</td>
						<td>
							<div class="published_by_title">
						    	<i class="fa fa-retweet"></i>
						    	<%= link_to main_author.name, user_path(main_author), class: "published_by" %>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<% end %>
			
			<div class="entry-wrap">
				<% if @micropost.mtitle.present? %>
				<header class="entry-header">
					<h4 class="entry-title semi-bold">
						<%= link_to @micropost.mtitle, @micropost.mlink %>
					</h4>
				</header>
				<% end %>

				<div class="entry-summary">
					<%= auto_link(@micropost.content, html: { target: '_blank' }) %>
				</div>
			</div>

			<footer class="entry-actions">
				<ul>
					<% likes = @micropost.reputation_for(:mpost_likes).to_i %>
					<% reposts = @micropost.repost_count(@micropost.id) %>

					<% if @micropost.video %>
					<li class="action-video">
						<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#video<%= @micropost.id %>"><i class="fa fa-youtube-play"></i>watch video</a>
					</li>
					<% end %>

					<li class="action-reply">
						<a href="#"><i class="fa fa-reply"></i><span>Reply</span></a>
					</li>
					<% if signed_in? && current_user %>
					<% if current_user?(@micropost.user) || current_user.admin? %>
	    				<li class="action-delete delete"><%= link_to set_icon("times", "fa"), @micropost, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></li>
	  				<% end %>
	  				<% end %>
					<li class="action-repost <%= 'reposted' if @micropost.retweets.where(user_id: current_user.id).present? %>">
					<%= link_to set_icon("retweet", "fa") + "Repost", retweet_micropost_path(@micropost.id), method: :post %>&nbsp;<%= reposts if reposts > 0 %></li>
					<!--<li class="action-reply">
						<a href="#"><i class="fa fa-star"></i><span>Favorite</span></a>
					</li> -->
					<li class="action-like <%= 'liked' if current_user.liked_for?(@micropost) %>">
						<%= link_to set_icon("heart", "fa") + "Like", like_micropost_path(@micropost), remote: true, method: "post" %>&nbsp;<span class="likes-count"><%= likes if likes > 0 %></span>
					</li>
				</ul>
			</footer>

			<% if @micropost.video %>
			<div class="entry-video">
				<div id="video<%= @micropost.id %>" class="embed-video panel-collapse collapse">
	  				<%= embed(@micropost.video) %>
	  			</div>
	  		</div>
	  		<% end %>

		</div>
	</div>

</div> <!-- END CONTENT --> 