<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse "> 
  <!-- BEGIN TOP NAVIGATION BAR -->
  <div class="navbar-inner">
	<div class="header-seperation"> 
		<ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">	
		 <li class="dropdown"> <a id="main-menu-toggle" href="#main-menu"  class="" > <div class="iconset top-menu-toggle-white"></div> </a> </li>		 
		</ul>
      <!-- BEGIN LOGO -->	
      <%= link_to image_tag("logo.png", size: "154x18", class: "logo", alt: "Home"), root_url %>
      
      <!-- END LOGO --> 

    </div>
      <!-- END RESPONSIVE MENU TOGGLER --> 
      <div class="header-quick-nav" > 
      <!-- BEGIN TOP NAVIGATION MENU -->
	  <div class="pull-left"> 
		  	<div class="input-group">
				<span class="input-group-addon">
					<i class="fa fa-search"></i>
				</span>
				<%= form_tag articles_path, method: :get do %>
					<%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search..." %>
				<% end %>
			</div>
	  </div>
	 <!-- END TOP NAVIGATION MENU -->
	 
	 <!-- BEGIN CHAT TOGGLER -->
      <div class="pull-right"> 
      	<% if signed_in? %>
		<a href="<%= user_path(current_user) %>" class="chat-toggler">	
			<div class="user-details"> 
				<div class="username"><%= current_user.name %></div>
				<div class="userlogin"><%= current_user.make_dog %></div>				
			</div> 

			<div class="profile-pic"> 
				<%= image_tag(current_user.avatar_url(:lthumb), size: "35x35") %>
			</div>       			
		</a>
		 <ul class="nav quick-section ">
		 	<li class="quicklinks">
		 		<a class="pull-right" href="<%= messages_path %>">						
					<div class="iconset top-messages">
						<% if @count_mess > 0  %>
						<span class="badge badge-important animated bounceIn" id="chat-message-count"><%= @count_mess.to_s %></span>
						<% end %>
					</div> 	
				</a>
			</li>
		 	<li class="quicklinks"> <span class="h-seperate"></span></li>
			<li class="quicklinks"> 
				<a data-toggle="dropdown" class="dropdown-toggle pull-right" href="#" id="user-options">
					<div class="iconset top-settings-dark"></div><%= set_icon("iconset top-down-arrow", "") %>
				</a>
				<ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="user-options">
					<li><%= link_to "Add new Article", new_article_path %></li>
					<li class="divider"></li>
					<li><%= link_to "My Account", current_user %></li>
					<li><%= link_to "My Settings", edit_user_path(current_user) %></li>
					<li class="divider"></li>
					<li><%= link_to set_icon("power-off", 'fa') + "Log out", signout_path, method: "delete" %></li>
				</ul>
			</li> 
			<li class="quicklinks"> <span class="h-seperate"></span></li>
			<li class="quicklinks mp-modal-icon" data-toggle="modal" data-target="#ModalWrite"><%= set_icon("pencil", "fa") %></li>
		</ul>
		<% else %>
			<ul class="nav quick-section ">
				<li class="quicklinks"><%= link_to "Sign up now!", signup_path %></li>
				<li class="quicklinks"><%= link_to "Sign in", signin_path %></li>
			</ul>
		<% end %>
      </div>
	   <!-- END CHAT TOGGLER -->
	   
      </div> 
      <!-- END TOP NAVIGATION MENU --> 
   
  </div>
  <!-- END TOP NAVIGATION BAR --> 
</div>

<!-- END HEADER --> 

<%= render 'shared/modal_new_mp' %>